In [153]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:80% !important;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-header{margin-top:150px;}
.cm-s-ipython span.cm-comment{font-size:12pt; font-style:normal; color:orange;}
.ansi-yellow-bg{color:black;font-size:15pt;}

</style>
<style>
span.toc-item-num{display:none;}
</style>
"""))

<b><font size="6" color="red"> ch05. 함수</font><b>
- 반복해서 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것.
- 오버로딩 불가 
- 함수의 정의 
```
def 함수명([매개변수1, 매개변수2, ..]):
    명령어1
    명령어2
    return 리턴할값
    명령어 3
```

# 1절. 함수의 정의 및 사용
## 1.1 함수정의하기

In [ ]:
def my_hello(x,msg): #함수정의
    for i in range(x): # x번 반복
        print(i,msg)

In [ ]:
def my_hello():
    print('Hello, Python')
    print('Hello, World')

In [ ]:
my_hello()

In [ ]:
my_hello

In [ ]:
__name__

In [ ]:
import a

In [ ]:
a.test()

In [ ]:
from a import test# a모듈안의 test 로드

In [ ]:
test()

## 1.2 docstring

In [ ]:
def my_function():
    """
    함수의 첫 라인에 독스트링을 포함 할 수 있습니다.
    독스트링 역할은 함수의 설명서를 달아주는 역할.
    주석보다 많은 기능(함수 호출시 shif+tab으로 독스트링을 볼 수 있음)
    """
    pass

In [ ]:
print(my_function.__doc__)

In [ ]:
def fivonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력합니다
    ex. n=10 : 0,1,1,2,3,5,8,
    '''
    a, b  = 0,1
    while a < n:
        print(a,end=' ')
        a, b = b, a+b
    print()
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    '''

## 1.3 지역변수(local var)와 전역변수(globla var)

In [ ]:
globla_var = 100 #전역변수
def func1():
    print(global_var)

    func1()
print('func1')

In [ ]:
def func2():
    local_var = 200 #지역변수
    print('함수안 : ',local_var)
func2()
print('함수밖 :',local_var)

In [ ]:
g_var = 100 #전역변수(변수 선언과 할당)
def func3():
    g_var = 200 #지역변수(변수 선언과 할당)
    print('지역변수 g_var :', g_var)
func3()
print('전역변수 g_var :', g_var)

In [ ]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func3():
    global g_var # func3 함수내에서의 g_var는 전역변수를 쓴다
    print('함수 안 g_var :', g_var)
    g_var = 200 #지역변수
func3()
print('함수 밖 g_var :' ,200)

##  값에 의한 호출
- 함수에 인수로 전달되는 변수가 스칼라변수(문자,숫자, 논리형)일 때

In [ ]:
foo = 'a' #전역변수
id(foo)

In [ ]:
def func1(f):
    print('Before :', f, '의 주소는', id(f))
    f= f*3 #foofoofoo
    print('After :', f ,'의 주소는',id(f))
func1(foo)

In [ ]:
print('foo = ', foo, '의 주소는 ', id(foo))

## 참조에 의한 호출
- 함수에 인수로 전달되는 변수가 리스트, 튜플, 셋, 리스트, 딕셔너리, 객체일경우

In [ ]:
L=[1,2,3,4,6]
id(L)

In [ ]:
def func2(f): # 매개변수는 지역변수
    print('before :',f,'의 주소는',id(f))
    f.append(6)
    print('after :',f, '의 주소는 ', id(f))
func2(L)

# 2절. 함수의 실행결과 반환하는 return

In [147]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력합니다
    ex. n=10 : 0,1,1,2,3,5,8,
    '''
    a, b  = 0,1
    while a < n:
        print(a,end=' ')
        a, b = b, a+b
    print()
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    '''
    result =[]
    a, b = 0, 1
    while a<n :
        result.append(a)
        a, b = b, a+b
    return result

In [148]:
x = fibonacci_print(10)
print(x) # return이 없는 함수는 결측치
print(type(x))

0 1 1 2 3 5 8
None
<class 'NoneType'>

In [ ]:
x = fibonacci(10)
print(x)

## 여러개 값 return

In [150]:
def swap(a,b):
    '''
    매개변수의 순서를 바꿔서 return
    '''
    return (b,a)

In [151]:
x,y = 5,10
print('함수 실행 전 x,y = ', x,y)
x,y = swap(x,y)
print('함수 실행 후 x,y =',x,y)

함수 실행 전 x,y =  5 10
함수 실행 후 x,y = 10 5

In [152]:
a = swap(10,20)
print(type(a))
print(a)

<class 'tuple'>
(20, 10)

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [ ]:
def make_url(ip, port=80): # 순서인수> 기본값을 갖는 매개변수
    return"http://{}:{}".format(ip,port)

In [ ]:
print(make_url('localhost',8090))
print(make_url('localhost'))
print(make_url(port=9090, ip='www.naver.com'))

## 3.2 기본변수를 갖는 매개변수
- 기본변수가 스칼라 변수(문자,숫자,논리형)일때
- 기본변수가 리스트, 셋, 딕셔너리 또는 객체일때

In [ ]:
i=5
# 기본변수가 스칼라변수일 때: arg의 기본값은 함수가 정의되는 시점으로 세팅
def func2(arg=i):
    print('arg=',arg)

In [ ]:
i = 10
func2()

In [50]:
# 기본변수가 리스트, 셋, 딕셔너리, 객체일 때 : 실행되는 시점
list_ = []
def func3(a,L=list_):
    L.append(a)
    return L
print(func3(10))
print('list_:',list_)

[10]
list_: [10]

In [ ]:
print(func3(20))
print('list_:',list_)

In [ ]:
print(func3(30))
print('list_:',list_)

In [ ]:
def func3(a, L=[]):
    L.append(a)
    return L
print(func3(10))
print(func3((1,2,3)))

## 3.3 순서 인수, 키워드인수
- 순서 인수 : 함수에 정의된 순서대로 전달
- 키워드 인수: 인수의 이름을 명시적으로 전달방식
- 함수 선언시 순서인수와 키워드 인수가 같이 올 때는 순서인수 > 키워드 인수 순으로 온다
```
def function명(변수명1, 변수명2, ...변수명n=기본값)
```

In [ ]:
def func4(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [ ]:
lst =[]
print(func4(10,lst))
print(func4(L=lst, a=10))
print(func4(20))

In [ ]:
fun(b=3,a=4)

## 3.4 튜플 매개변수를 이용한 가변인수 설정

In [ ]:
def add(a, b):
    return a+b
def add(a,b,c):
    return a+b+c

In [ ]:
add(1,2)

In [ ]:
# 가변인자 함수 add
def add(*args):
    '전달받은 매개변수들의 합을 return'
    # print(args)
    sum = 0
    for num in args:
        sum += num
    return sum

In [ ]:
print(add(1))
print(add(1,2))
print(add(1,2,3,5))

In [ ]:
subject =('Java','Oracle','Web','Python')
'-'.join(subject)

In [ ]:
def concat(*subject,sep):
    return sep.join(subject)

In [ ]:
# 해결책 1
concat('Java','Oracle','Web','Python',sep='~')

In [ ]:
# 해결책2: 기본값을 갖는 키워드 인수 사용
def concat(*subject,sep=' '):
    return sep.join(subject)

In [ ]:
concat('Java','Oracle','Web','Python','~')

In [ ]:
concat('Java','Oracle','Web','Python',sep='~')

In [ ]:
# 해결책 3 : sep을 순서인수로 앞으로 선언
def concat(sep,*subject):
    return sep.join(subject)

In [ ]:
concat('~','Java','Oracle','Python')

## 3.5 딕셔너리 매개변수
- 딕셔너리인수 : 여러개의 키워드 인수를 딕셔너리 형태로 받아서 가변 키워드 인수로 처리

In [ ]:
def func5(**args):
    print(args)
    print(type(args))
    for key, value in args.items:
        print("{}:{}".format(key, value))

In [ ]:
func5(name="홍길동",age=33)

## 3.6 함수 정의시 매개변수의 순서
순서인수> 튜플인수(*)>키워드인수(기본값)>딕셔너리인수(**)

In [ ]:
# 순서인수 > 튜플인수> 딕셔너리인수
def func6(a,b,*c,**d):
    print('순서인수 a =',a)
    print('순서인수 b =',b)
    print('순서인수 c =',c)
    print('순서인수 d =',d)

In [ ]:
func6(10,20,1,2,3,4,5,6,7,name="kim",age=30)

In [ ]:
# 순서인수> 튜플인수(*)>키워드인수(기본값)>딕셔너리인수(**)
def func7(a,b,c,*d,e=10,**f):
    print('a=',a)
    print('b=',b)
    print('c=',c)
    print('d=',d)
    print('e=',e)
    print('f=',f)

In [ ]:
func7(10,20,30)

In [ ]:
func7(10,20,30, e=100)

In [ ]:
func7(10,20,30,1,2,3,4,5,e=100,shape="rect", width=20,height=30)

## 3.7 인수의 언패킹
튜플인수 언패킹

In [ ]:
def add(*args):
    sum = 0
    for num in args:
        sum += num
    return sum

In [ ]:
add(1,2,3,4,5)

In [ ]:
numbers = (1,2,3,4,5,6,7,8)
add(*numbers) # 튜플 언패킹
#add(numbers[0],numbers[1],numbers[2],numbers[3],numbers[4])

In [ ]:
num_lst = [1,2,3]
add(*num_lst)

딕셔너리 언패킹

In [ ]:
def func8(**data):
    for item in data.items():
        print(item)
func8(shape="lect",height=30,width=40)

In [ ]:
info = {'shape':'triangle', 'height':30, 'width':30}
info

In [ ]:
func8(**info) ##딕셔너리 언패킹

# 4절. 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [ ]:
def add(a,b):
    return a+b
add(3,5)

In [ ]:
add2= lambda a,b : a+b #매개변수 : return
add2(10,20)

In [ ]:
print(type(add),type(add2))

In [ ]:
(lambda a, b : a+b)(3,5)

In [ ]:
# a와b의 차이를 return
def diff(a,b):
    if a>=b:
        return a-b
    else:
        return b-a

In [ ]:
diff2 = lambda a,b :a-b if a>=b else b-a

In [ ]:
print(diff (3,5))
print(diff2 (5,3))
print(diff (5,3))
print(diff2(3,5))

In [ ]:
# 매개변수로 잔액을 바아 잔액이 음수면 'negative', 양수면 잔액
def get_balance(balance):
    if balance>=0:
        return balance
    else:
        return 'negative'

In [ ]:
get_balance(100)

In [ ]:
get_balance2= lambda balance : balance if balance>=0 else 'negative'

In [ ]:
get_balance2(-100)

In [ ]:
balance = - 500
if balance>= 0:
    result = balance
else:
    result ='negative'
result

In [ ]:
balance = -500
balance if balance>=0 else 'negative'
# balance>=0 ? balance : 'negative'

In [ ]:
# 아래의 함수도 람다식으로 바꿀 수 있음
v= (1,2,3)
def safe_index(vector,item):
    if item in vector:
        return vector.index(item)
    else:
        return -1
safe_index(v,1), safe_index(v,4)

In [ ]:
safe_index2 = lambda vector,item : vector.index(item) \
if item in vector else -1

In [ ]:
safe_index2([1,2,3,4,],1), safe_index2((1,2,3),5)

In [ ]:
# 매개변수로 들어온 값이 짝수면 '짝수'를, 홀수면 '홀수'를 return 하는 lambda

In [ ]:
odd_even = lambda num : '짝수' if num%2==0 else '홀수'

In [ ]:
odd_even (4)

In [ ]:
def levelChk(score):
    if score >=80:
        return 'A'
    elif score>=60:
        return 'B'
    else:
        return 'retest'
levelChk(65)

In [ ]:
hakjum = lambda score : 'A' if score>=80 else ('B' if score>=70 else 'C')

In [ ]:
(hakjum(60),hakjum(90))

In [ ]:
hakjum2 = lambda score : 'A' if 100 >=score>= 90 else \
                         'B' if 90>score>=80 else \
                         'C' if 80>score>=70 else \
                         'D' if 70>score>=60 else \
                         'F' if 60>score>=0 else '유효하지 않은 점수입니다'

In [ ]:
hakjum2(100),hakjum2(80),hakjum2(70),hakjum2(60),hakjum2(50),hakjum2(120)

In [ ]:
add = lambda a,b : a+b
sub = lambda a,b : a-b
mul = lambda a,b : a*b
div = lambda a,b : a/b if b!=0 else '두번째 인자가 0으로는 못나눕니다.'
add(3,0), div(3,0)

operations = [add, sub, mul, div]
# 매개변수로 함수 list가 옴
def act_operations(a,b,operations=operations):
    result = []
    for op in operations:
        result.append(op(a,b))
    return result
#def pow(a,b):
#    return a**b
operations.append(lambda a,b : a**b) # 함수추가
print(act_operations(10,2, [lambda a, b : a*b, lambda a, b :a**b]))

In [ ]:
lst = [1,2,3]
print([l**2 for l in lst])
print([l for l in lst if l%2==0])

In [ ]:
# act_operations의 함수를 리스트컴프리헨션을 이용하여 람다식 구현
def act_operations (a,b,operations=operations):
    return [op(a,b) for op in operations]
act_operations = lambda a,b,operations=operations :\
                    [op(a,b) for op in operations]
print(act_operations(5,2,[lambda a,b : a+b,lambda a,b : a**b]))
operations.append(lambda a,b : a//b)
print(act_operations(5,2))

## 4.2 함수의 매개변수(인수)에 람다식 사용

In [88]:
def map_template(func, L=[]):
    result=[]
    for item in L :
        result.append(func(item))
    return result

map_template = lambda func,L=[] : [func(l)  for l in L]

In [63]:
list_data = [1,2,3,4,5,6,7,8]
#def x_2(x):
#    return x*2
#map_template(x_2, list_data)
map_template(lambda x: x*2,list_data)

[2, 4, 6, 8, 10, 12, 14, 16]

In [66]:
# 리스트 컴프리헨션
[x*2 for x in list_data]

[2, 4, 6, 8, 10, 12, 14, 16]

In [65]:
list(map(lambda x : x*2 , list_data))

TypeError: 'list' object is not callable

In [ ]:
list(enumerate(list_data))

In [89]:
for x in map(lambda x:x*2, list_data):
    print(x,end=' ')

2 4 6 8 10 12 14 16

In [ ]:
def filter_template(func,L=[]):
    result=[]
    for item in L :
        if func(item):
            result.append(item)
    return result

In [ ]:
def evenChk(value):
        return value%2==0
#    if value%2==0:
#        return True
#    else:
#        retrun False
filter_template(lambda x : x%2==0, L=list_data)

In [ ]:
# filter 함수 이용
for item in filter(lambda x:x%2==0, list_data):
    print(item, end=' ')

In [73]:
# 리스트컴프리센션 이용 
[x for x in list_data if x%2==0]

[2, 4, 6, 8]

In [ ]:
# quiz : 다음 리스트에서 소수점 이하가 0인 수만 추출하시오
# filter함수, 람다식 이용/filter_template / 리스트 컴프리헨션
L=[1,1.2,1.5,2,3.0,10.5,100]
x = 2
#[1,2,3.0,100]
print(x%1.0==0)
print(x==round(x))
print(x==x//1)

In [ ]:
# 1. filter함수 이용
print(list(filter(lambda x:x%1.0==0,L)))
print(list(filter(lambda x:x==round(x),L)))
print(list(filter(lambda x:x==x//1,L)))
# 2. filter_template 함수 이용
print(filter_template(lambda x:x==round(x),L))
# 3. 리스트 컴프리헨션 이용
print([x for x in L if x==round(x)])

**람다식은 함수가 실행할 문장이 한문자의 return 문일 경우만 사용 **<br>
**람다식이 가장 많이 사용되는 곳은 함수의 인수로 전달될 때** 나 함수를 return할 때

In [ ]:
# 예제2 : 베스트 셀러 list 를 가격순으로 sort
p=[10,3,6,1]
p.sort()# reverse =True # 내림차순
p

In [ ]:
pairs = [(2,'two'),(1,'one'),(4,'four'),(9,'nine')]
pairs.sort()
pairs

In [ ]:
pairs.sort(key=lambda pair : pair[1],reverse=True)
pairs

In [ ]:
students = [{'name':'홍','score':99},
           {'name':'김','score':49},
           {'name':'신','score':69},
           {'name':'박','score':79}]

In [ ]:
# student를 이름 ㄱㄴㄷ순 정렬
students.sort(key = lambda student : student ['name'])
students

In [ ]:
# student를  score 순 내림차순 정렬
students.sort(key = lambda score : score ['score'])
students

In [ ]:
# student를  score 순 오름차순 정렬
students.sort(key = lambda score : score.get('score'), reverse=True)
students

In [ ]:
books = [{'no':1,'title':'소년이 온다', 'writer':'한강','price':'13,500'},
        {'no':3,'title':'트럼프 2.0시대', 'writer':'박종훈','price':'18,000'},
        {'no':2,'title':'트렌드코리아2025', 'writer':'김난도','price':'18,500'},
        {'no':5,'title':'가격잘못', 'writer':'ㅁㅁㅁ','price':'ㅁ'},
        {'no':4,'title':'가격이없음', 'writer':'신길동','price':'none'},]

In [ ]:
books.sort(key=lambda book:book['no'])
books

In [ ]:
books = [{'no':1,'title':'소년이 온다', 'writer':'한강','price':'13,500'},
        {'no':3,'title':'트럼프 2.0시대', 'writer':'박종훈','price':'18,000'},
        {'no':2,'title':'트렌드코리아2025', 'writer':'김난도','price':'18,500'},
        {'no':5,'title':'가격잘못', 'writer':'ㅁㅁㅁ','price':'ㅁ'},
        {'no':4,'title':'가격이숫자', 'writer':'신길동', 'price': 9200},
        {'no':6,'title':'가격이없음', 'writer':'신길동'}]

In [ ]:
books.sort(key=lambda book:book.get['price'])
books

In [ ]:
# &: 논리연산, 비트연산, 집합연산이 모두 가능하므로, 좌항이 false
# and : 논리연산
def parse_int(price):
    # print(type(price))
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price,int):
        return price
    else:
        return 0

In [ ]:
print(parse_int('ㅁ'))
print(parse_int(None))
print(parse_int(9200))
print(parse_int('13,500'))

In [ ]:
testFunc= lambda book : int(book.get('price').replace(',','')) \
                            if isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit() \
                            else(book.get('price'))if isinstance(book.get('price'),int)\
                                 else 0

[testFunc(book) for book in books]

In [ ]:
copyBooks = books.copy()
copyBooks.sort(key= lambda book : int(book.get('price').replace(',',''))\
                if isinstance(book.get('price'),str)\
                and book.get('price').replace(',','').isdigit()\
                else(book.get('price') if isinstance(book.get('price'),int)else 0)
)
books

In [ ]:
# map(func, books)

'''
{'no': 3, 'title': '트럼프', 'writer': '박', 'price': '8,000'} 를 매개변수로 받아
{'no': 3, 'title': '트럼프', 'writer': '박', 'price': 8000} 로 return
'''

In [ ]:
def price_parse_int(book):
    #book.get('price')를 정수 가격으로 바꾸기(방법1)
    if isinstance (book.get('price'),str) and book.get('price').replace(',','').isdigit():
        book['price'] = int(book['price'].replace(',',''))
    elif isinstance(book.get('price'),int):
        pass
    else:
        book['price']=0
    return book
    # book2 복사본을 만들어 books.get('price')를 정수 가격으로 바꾸기 (방법2)
    #return book2

In [ ]:
def price_parse_int(book):
    return{'no':book.get('no'),
           'title':book.get('title'), 
            'writer': book.get('writer'), 
            'price': int(book['price'].replace(',',''))\
                if isinstance(book.get('price'),str) and \
                    book.get('price').replace(',','').isdigit()\
                else(book.get('price') if isinstance(book.get('price'),int)else 0)
           }

In [ ]:
price_parse_int = lambda book: {'no':book.get('no'),
           'title':book.get('title'), 
            'writer': book.get('writer'), 
            'price': int(book['price'].replace(',',''))\
                if isinstance(book.get('price'),str) and \
                    book.get('price').replace(',','').isdigit()\
                else(book.get('price') if isinstance(book.get('price'),int)else 0)
           }

In [ ]:
bookTemp={'no': 3, 'title': '트럼프', 'writer': '박', 'price': ''}
returnBook= price_parse_int(bookTemp)
returnBook

In [ ]:
bookTemp

In [ ]:
newBooks = list(map(lambda book: {'no':book.get('no'),
           'title':book.get('title'), 
            'writer': book.get('writer'), 
            'price': int(book['price'].replace(',',''))\
                if isinstance(book.get('price'),str) and \
                    book.get('price').replace(',','').isdigit()\
                else(book.get('price') if isinstance(book.get('price'),int)else 0)
           },
                   books
                   ))

In [ ]:
'''
# 예제3. members =[{'name':'홍길동','birth':'2000-01-01'},
    {'name':'홍길동','birth':'2000-01-01'},] 를
   
   members=[{'name':'홍길동','birth':'2000-01-01','year':2000,'month':1,'day':1},
{'name':'홍길동','birth':'2000-01-01',,'year':2000,'month':1,'day':1},

'''

In [ ]:
members =[{'name':'홍길동','birth':'2000-01-01'},
    {'name':'홍길동','birth':'2000-01-01'},]

In [ ]:
def split_date(date):
    split_data = date.split('-')
    return{'year' :int(split_data[0]),
            'month' :int(split_data[1]),
            'day' :int(split_data[2])}
split_date('2001-01-08')

In [ ]:
def split_birth(member): # 'name','birth'
    return{
        'name':member.get('name'),
        'year':int(member.get('birth').split('-')[0]),
        'month':int(member.get('birth').split('-')[1]),
        'day':int(member.get('birth').split('-')[2]),
    }
split_birth({'name':'홍길동','birth':'2000-01-01'})

In [ ]:
split_birth = lambda member : {
                    'name':member['name'],
                    'year':int(member['birth'].split('-')[0]),
                    'month':int(member.get('birth').split('-')[1]),
                    'day':int(member.get('birth').split('-')[2]),
}

In [ ]:
members = list(map(lambda member : {
                    'name':member['name'],
                    'year':int(member['birth'].split('-')[0]),
                    'month':int(member.get('birth').split('-')[1]),
                    'day':int(member.get('birth').split('-')[2]),
},members))
members

In [ ]:
def join_date(date):
    return '{year}-{month:02}-{day:02}'.format(**date)

In [ ]:
join_date({'year': 2000, 'month': 1, 'day': 1})

In [ ]:
def join_birth(member):
    name= member['name']
    del member ['name']
    #print(member)
    join_date = '{year}-{month:02}-{day:02}'.format(**member)
    return {'name':name,
           'birth':join_date}

In [ ]:
join_birth({'name':'kim','year':1995,'month':1,'day':2})

In [ ]:
members= list(map(join_birth, members))
members

## 4.3 return문의 람다식 사용

In [ ]:
def apply(data, func =None):
    # if func == None:
    if func is None:
        return data
    else:
        return func(data)

In [ ]:
print(apply(2))
print(apply(2,lambda x:x**3))

In [ ]:
# 함수를 return
'''
make_box([2,3]) => 2차원 2행 3열짜리 list 를 만드는 함수를 return
    fun= make_box([2,3])
    fun(5) => [[5,5,5],[5,5,5]]
make_box((2,)) => 1차원 2열짜리 list를 만드는 함수를 return
    fun = make_box([2])
    fun(7) => [7,7]
'''

def make_box(shape): #[x],[x,y]
    def box(init_value):
        if len(shape)==1:
            return [init_value]*shape[0]
        elif len(shape)==2:
            return [[init_value]*shape[1]]*shape[0]
    return box

In [ ]:
def make_box(shape):
    if len(shape)==1:
        return lambda init_value : [init_value]*shape[0]
    elif len(shape)==2:
        return lambda init_value :[[init_value]*shape[1]]*shape[0]

In [ ]:
line_fun = make_box((3,))
line_fun(5)

In [ ]:
box2d_fun = make_box((4,3))
box2d_fun(5)

# 5절. 파이썬 내장함수
- import하지 않고 바로 사용 가능한 함수
- keyword처럼 간주되므로, 식별자로 사용하는 것을 피한다

In [3]:
globals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:80% !important;}\ndiv.CodeMirror {font-family:Consolas; font-size:12pt;}\ndiv.output {font-size:12pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-header{margin-top:150px;}\n.cm-s-ipython span.cm-comment{font-size:12pt; font-style:normal; color:orange;}\n.ansi-yellow-bg{color:black;font-size:15pt;}\n\n</style>\n<style>\nspan.toc-item-num{display:none;}\n</style>\n"""))',
  'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:80% !important;}\ndiv.CodeMirror {font-family:Consolas; font-size:12pt;}\ndiv.output {font-size:12pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-header{margin-top:150px;}\n.cm-s-ipython span.cm-comment{font-size:12pt; font-style:normal; color:orange;}\n.ansi-yellow-bg{color:black;font-size:15pt;}\n\n</style>\n<style>\nspan.toc-item-num{display:none;}\n</style>\n"""))',
  'globals()'],
 '_oh': {},
 '_dh': [WindowsPath('D:/ai/source/07_python')],
 'In': ['',
  'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:80% !important;}\ndiv.CodeMirror {font-family:Consolas; font-size:12pt;}\ndiv.output {font-size:12pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-header{margin-top:150px;}\n.cm-s-ipython span.cm-comment{font-size:12pt; font-style:normal; color:orange;}\n.ansi-yellow-bg{color:black;font-size:15pt;}\n\n</style>\n<style>\nspan.toc-item-num{display:none;}\n</style>\n"""))',
  'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:80% !important;}\ndiv.CodeMirror {font-family:Consolas; font-size:12pt;}\ndiv.output {font-size:12pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-header{margin-top:150px;}\n.cm-s-ipython span.cm-comment{font-size:12pt; font-style:normal; color:orange;}\n.ansi-yellow-bg{color:black;font-size:15pt;}\n\n</style>\n<style>\nspan.toc-item-num{display:none;}\n</style>\n"""))',
  'globals()'],
 'Out': {},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x0000019DB58D1060>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x19db58d3160>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x19db58d3160>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': '',
 '__': '',
 '___': '',
 'json': <module 'json' from 'C:\\Users\\4545\\anaconda3\\lib\\json\\__init__.py'>,
 'autopep8': <module 'autopep8' from 'C:\\Users\\4545\\anaconda3\\lib\\site-packages\\autopep8.py'>,
 'yapf_reformat': <function __main__.yapf_reformat(cell_text)>,
 '_i': 'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:80% !important;}\ndiv.CodeMirror {font-family:Consolas; font-size:12pt;}\ndiv.output {font-size:12pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-header{margin-top:150px;}\n.cm-s-ipython span.cm-comment{font-size:12pt; font-style:normal; color:orange;}\n.ansi-yellow-bg{color:black;font-size:15pt;}\n\n</style>\n<style>\nspan.toc-item-num{display:none;}\n</style>\n"""))',
 '_ii': 'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:80% !important;}\ndiv.CodeMirror {font-family:Consolas; font-size:12pt;}\ndiv.output {font-size:12pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-header{margin-top:150px;}\n.cm-s-ipython span.cm-comment{font-size:12pt; font-style:normal; color:orange;}\n.ansi-yellow-bg{color:black;font-size:15pt;}\n\n</style>\n<style>\nspan.toc-item-num{display:none;}\n</style>\n"""))',
 '_iii': '',
 '_i1': 'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:80% !important;}\ndiv.CodeMirror {font-family:Consolas; font-size:12pt;}\ndiv.output {font-size:12pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-header{margin-top:150px;}\n.cm-s-ipython span.cm-comment{font-size:12pt; font-style:normal; color:orange;}\n.ansi-yellow-bg{color:black;font-size:15pt;}\n\n</style>\n<style>\nspan.toc-item-num{display:none;}\n</style>\n"""))',
 'display': <function IPython.core.display_functions.display(*objs, include=None, exclude=None, metadata=None, transient=None, display_id=None, raw=False, clear=False, **kwargs)>,
 'HTML': IPython.core.display.HTML,
 '_i2': 'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:80% !important;}\ndiv.CodeMirror {font-family:Consolas; font-size:12pt;}\ndiv.output {font-size:12pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-header{margin-top:150px;}\n.cm-s-ipython span.cm-comment{font-size:12pt; font-style:normal; color:orange;}\n.ansi-yellow-bg{color:black;font-size:15pt;}\n\n</style>\n<style>\nspan.toc-item-num{display:none;}\n</style>\n"""))',
 '_i3': 'globals()'}

In [5]:
# abc(7)=> [0,1,2,3,4,5,6]
def abc(n):
    L = []
    for i in range(n):
        L.append(i)
    print(locals()) # 지역변수들을 출력
    return L

In [6]:
abc(7)

{'n': 7, 'L': [0, 1, 2, 3, 4, 5, 6], 'i': 6}

[0, 1, 2, 3, 4, 5, 6]

In [7]:
isinstance(3.5,float)

True

In [10]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def print_info(self):
        # 객체의 정보를 출력
        print("이름은{}, 나이는{}".format(self.name,self.age))

In [13]:
p = Person('홍길동',30)
p.print_info()

이름은홍길동, 나이는30

In [14]:
p.name,p.age

('홍길동', 30)

In [16]:
isinstance(p,Person)

True

In [17]:
dir(Person)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'print_info']

In [19]:
all([True,True,True,False]) # all : 모든 요소가 True인지 여부

False

In [20]:
round(3.5)

4

In [23]:
import numpy
numpy.round(3.5)

4.0

# 6절 연습문제

## 실습형

In [23]:
def get_max_min(data_list):
    return max(data_list),min(data_list)

In [25]:
data_list=[1,2,3,4,6,7]
get_max_min(data_list)

(7, 1)

In [186]:
def BMI(kg,m):
    bmi_value= kg / (m*m)

    if bmi_value<18.5:
        return '마른체형'
    elif 18.5<=bmi_value<25:
        return '표준'
    elif 25<=bmi_value<30:
        return '비만'
    else:
        '고도비만'
BMI(60, 1.64)

'표준'

In [200]:
import math

def get_triangle(width,height):
    c= math.sqrt(width**2 + height**2)
    return(width*height/2),(width+height+c)

    
get_triangle(3,5)

(7.5, 13.8309518948453)

In [182]:
def mysum(From, end):
    total = 0
    for i in range(From,end+1):
        total += i
    return total
mysum(1,5)

15

In [194]:
list=['seoul','daegu','kwangju','jeju']

def get_abbrs(list):
    return [lst[:3] for lst in list]
    
print(get_abbrs(list))

['seo', 'dae', 'kwa', 'jej']

In [58]:
f = lambda x,y : x ** y
f(3,3)

27

In [97]:
ex = [1,2,3,4,5]

for x in map(lambda x:x*x, ex):
    print(x,end=' ')

[x*x for x in ex]

1
4
9
16
25

[1, 4, 9, 16, 25]

In [100]:
a = [1,2,3]
print(*a)
print(a)

1 2 3
[1, 2, 3]

In [204]:
date_info = {'year':2019,'month':9,'day':6}
result = "{year}-{month:>02}-{day:>02}".format(**date_info)
result

'2019-09-06'

In [205]:
vector_size_check(*vector_var)

NameError: name 'vector_size_check' is not defined

## 서술형

In [106]:
def mapping(addr):
    table=[1,2,5,9,6,4,0,3,8,7]
    return table[addr//SIZE]
SIZE=20
group = [9,8,7,6,5,4,3,2,1,0]
loc=[127,64,188]
for a,b in enumerate(loc):
    print(group[mapping(loc[a])],end='')

902

In [140]:
a = 10
def sub():
    a +=1
    print(a,end='')

def func():
    for i in range(2):
        a = 5
        a += 1
        print(a,end='')
        sub()
        a+=1
func()

6

UnboundLocalError: local variable 'a' referenced before assignment

In [120]:
var = 100
def func(var):
    var=200
func(var)
print(var)

100

In [122]:
def my_func(func,*args):
    return func(*args)
import numpy as np
my_func(np.add,2,3)

5

In [124]:
def my_func(func,*args):
    return func(*args)
my_func(lambda a,b : a**b,3,2)

9

In [125]:
1

1

In [130]:
list_=[]
def func(a,L=None):
    if L is None:
        L=[]
    L.append(a)
    return L
func([],a=40)

TypeError: func() got multiple values for argument 'a'

In [131]:
lambda

SyntaxError: invalid syntax (864088669.py, line 1)

In [134]:
pairs = [(1,'d'),(2,'c'),(3,'b'),(4,'a')]
pairs.sort(key=lambda pair:pair[1])
pairs

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]