In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:80% !important;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-header{margin-top:150px;}
.cm-s-ipython span.cm-comment{font-size:12pt; font-style:normal; color:orange;}
.ansi-yellow-bg{color:black;font-size:15pt;}

</style>
<style>
span.toc-item-num{display:none;}
</style>
"""))

<b><font size="6" color="red"> ch03. 데이터구조</font><b>
   - 리스트 [], 튜플(),딕셔너리(hashMap과 유사),셋

# 1절. 리스트

## 1.1 리스트 만들기
    *[]를 이용해서 만들며, 여러개 값을 하나의 변수에 저장/관리할 수 있음
    * list()함수 이용도 가능
    * 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작 . 맨마지막 인덱스는 -1
    * 슬라이싱([from:to:by]) : 부분 데이터셋
    * 인덱스와 슬라이싱을 이용해서 쓰기와 읽기 지원

In [2]:
fruits = ['banana','apple','orange', 'grape']
type(fruits)

list

In [3]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [4]:
print(fruits[0])

banana

In [5]:
fruits[0]= 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [6]:
fruits=['mango','apple','orange']
x,y,z = fruits
print('x = {}'.format(x))
print('y = {}'.format(y))
print('z = {}'.format(z))

x = mango
y = apple
z = orange

In [7]:
# range(from,to,by) : from부터 to앞까지 by씩 증가하면서 지정된 범위의
                    #숫자를 순차적으로 사용할 수 있게 
                    # from 생략시 0, by 생략시 1
range(10)

range(0, 10)

In [8]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [10]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [11]:
for i in [0,1,2] : # 0부터 3까지 순차적인 수
    print(i)

0
1
2

In [12]:
for i in range(3):
    print(i)

0
1
2

In [13]:
for fruit in fruits:
    print(fruit)

mango
apple
orange

## 1.2 기본 정보 조회

In [14]:
fruits = ['mango','apple','orange', 'banana']
for idx in range(len(fruits)) :
    print("{}번째 과일은 {}".format(idx,fruits[idx]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 banana

In [15]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'banana')]

In [16]:
for idx, value in enumerate(fruits) : # key 와 value쌍을 하나씩 사용할수 있게 만드는 함수 enumerate
    print("{}번째 과일은 {}".format(idx,value))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 banana

In [17]:
numbers = [1,2,3,'4',True,[1,2,3]]
numbers

[1, 2, 3, '4', True, [1, 2, 3]]

In [18]:
# 2차원 리스트
numbers_2d = [[1,2,3,4,5],[11,12,13,14,15],[101,102,103,94,95]]
len(numbers_2d),len(numbers_2d[0]) #리스트갯수

(3, 5)

In [19]:
numbers_2d[1][1]

12

In [20]:
for i in range(len(numbers_2d)):
    for j in range(len(numbers_2d[1])):
        print("{}행 {}열 : {}".format(i,j,numbers_2d[i][j]),end = '\t')
        
        print() # 개행

0행 0열 : 1
0행 1열 : 2
0행 2열 : 3
0행 3열 : 4
0행 4열 : 5
1행 0열 : 11
1행 1열 : 12
1행 2열 : 13
1행 3열 : 14
1행 4열 : 15
2행 0열 : 101
2행 1열 : 102
2행 2열 : 103
2행 3열 : 94
2행 4열 : 95

In [21]:
numbers = [1,12,3,4,5]
numbers_2d=[[100,0,1,2,3],[9,199,111,123,414]]

In [22]:
#요소의 수 
print(len(numbers),len(numbers_2d))

5 2

In [23]:
# 최소값, 최대값
min(numbers),max(numbers)

(1, 12)

In [24]:
# 2차원 list의 min(): 부분 리스트 중에서 첫 요소가 가장 작은 값
#             max(): 부분 리스트 중에서 첫 요소가 가장 큰 값
min(numbers_2d),max(numbers_2d)

([9, 199, 111, 123, 414], [100, 0, 1, 2, 3])

In [25]:
# list의 데이터가 문자일 경우 ascii 코드 값으로 min(),max() 적용된다
fruits = ['mango','apple','banana','orange']
min(fruits),max(fruits)

('apple', 'orange')

In [26]:
# 정렬하기
numbers = [1,12,3,14,5]
print('오름차순 정렬 :' ,sorted(numbers) )
print('내림차순 정렬 :' ,sorted(numbers,reverse=True))
print('합 : ',sum(numbers))
print('sorted 함수 사용시 리스트 내용이 바뀌지 않음 :',numbers)

오름차순 정렬 : [1, 3, 5, 12, 14]
내림차순 정렬 : [14, 12, 5, 3, 1]
합 :  35
sorted 함수 사용시 리스트 내용이 바뀌지 않음 : [1, 12, 3, 14, 5]

## 1.3 요소 추가

In [27]:
# + : 두 리스트 연결
# * : 리스트를 곱한 수 만큼 반복
# append() : 요소 맨뒤에 추가
# extend() : 리스트를 요소별로 맨 뒤에 추가
# insert(idx,값) : idx 번째 인덱스 위치에 값 추가

In [28]:
numbers= [1,2,3]
print(3*numbers) # 곱한 수 만큼 list 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [29]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [30]:
numbers.append([5,6,7]) # 맨뒤에 요소 추가

In [31]:
numbers

[1, 2, 3, 4, [5, 6, 7]]

In [32]:
num = [1,2,3]
num.extend([4,5,6]) #요소별로 맨뒤에 각기 추가
num

[1, 2, 3, 4, 5, 6]

In [33]:
lst = ['a','b','c']

In [34]:
lst.append('d')
lst

['a', 'b', 'c', 'd']

In [35]:
lst.append('hello')
lst

['a', 'b', 'c', 'd', 'hello']

In [36]:
lst.extend('hello')
lst

['a', 'b', 'c', 'd', 'hello', 'h', 'e', 'l', 'l', 'o']

In [37]:
numbers = [1,2,3,4,5]
numbers.insert(1,'xx')
numbers

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
- count(찾을데이터) : 리스트에서 데이터의 갯수 반환

In [38]:
numbers = [1,2,3,[1,2,3],1,2,3]

In [39]:
numbers.count(2)

2

In [40]:
numbers.count(9)

0

In [41]:
9 in numbers # 9가 numbers 의 요소인지 여부

False

In [42]:
numbers = [1,2,3,[1,2,3],1,2,3]
numbers.index(2) # 처음(0인덱스)부터 2가 나오는 위치

1

In [43]:
numbers.index(2,2) # 2번인덱스부터 2가 처음 나오는 위치

5

In [44]:
# 9가 numbers 리스트의 요소에 있는지 여부를 검사
print(numbers.count(9))
print(9 in numbers)

0
False

In [45]:
if 9 in numbers:
    print(numbers.index(9))
else : 
    print('9가 요소에 포함되지 않습니다')

9가 요소에 포함되지 않습니다

In [46]:
def safe_index(lst, item):
        if item in lst:
            return lst.index(item)
        else:
            return -1

In [47]:
def safe_index(lst,item):
    return lst.index(item) if item in lst else -1

In [48]:
safe_index(numbers,9)

-1

In [49]:
numbers[20]

IndexError: list index out of range

## 1.5 리스트 슬라이싱
- 인덱스의 범위를 벗어난 값도 에러나지 않음
- [from:stop:step] from 부터 stop앞까지 step씩 증가하는 index값 추출
          from 생략시 처음, stop 생략시 끝, setp생략시 1, 모두 생략가능
- 인덱스는 음수가능<br><br>


2. <b><font color = "red">리스트 컴프리헨션</font></b>: list에서 원하는 데이터 추출

In [ ]:
numbers = [1,3,5,7,9,12,13,18,19,20]
#거꾸로 출력
print(numbers[::-1])
print(numbers[0:10:2])
print(numbers[:100])

In [ ]:
# 리스트 컴프리헨션을 이용해서 lsit의 원하는 데이터 액세스
numbers = [1,3,5,7,9,12,13,18,19,20]
# 모든 데이터 추출
#for data in numbers:
 #       print(data, end= '\t')
[data for data in numbers]

In [154]:
# 짝수 데이터 추출
#for data in numbers:
 #   if data%2==0:
 #       print(data, end='\t')
[data for data in numbers if data%2==0]

[2, 4, 6, 8, 10, 100, 200, 300, 400, 500]

In [ ]:
# ex1. numbers 에서 10이상 요소만 추출
[data for data in numbers if data>=10]

In [ ]:
# ex2. fruits에서 과일의 글자가 5글자 이상인 과일만 추출
fruits = ['orange','apple','mango','kiwi']
[data for data in fruits if len(data)>=5]

In [ ]:
# ex-1. fruits 리스트의 과일 글자수
[len(fruit) for fruit in fruits]

In [ ]:
#ex 3. 3이상의 리스트의 값의 제곱을 추출
L=[1,2,3,4,5]
[l**2 for l in L if l>=3]

In [ ]:
# ex4.리스트의 값의 두배로 추출
L =[1,2,3,4,5]
[l*2 for l in L]

## 1.6 요소 수정하기

In [ ]:
numbers=[0,1,2,3,4,5,6,7,8,9]
numbers[2]=222
numbers

In [ ]:
# 슬라이싱(step부분 미포함)을 이용하여 부분리스트를 통째로 수정
numbers[0:2] = ['xx','xx','xx','xx']
numbers

In [191]:
# 슬라이싱(step부분 포함)을 이용하여 부분수정\
numbers =[0]*10
print('수정전 :' , numbers)
numbers[::2] = [9,9,9,9,9]
print('수정후 :', numbers)

수정전 : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
수정후 : [9, 0, 9, 0, 9, 0, 9, 0, 9, 0]

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스의 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(data) : list안의 data가 삭제
- del 리스트변수[idx]: idx번째 요소가 삭제

In [ ]:
numbers = [1,2,3,4,5]
print('삭제한 데이터 :', numbers.pop())
print('삭제한 후 numbers :' , numbers)
print('삭제한 데이터 :', numbers.pop())
print('삭제한 후 numbers :' , numbers)
print('삭제한 데이터 :', numbers.pop(0))
print('삭제한 후 numbers :' , numbers)

In [ ]:
numbers = [0,1,2,3,4,5]
print(numbers.remove(3)) # remove()는 반환값이 없고, 해당 데이터 삭제만
print(numbers)

In [ ]:
numbers.remove(9)

In [ ]:
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터는 없는 데이터입니다')

In [ ]:
def safe_remove(lst, remove_item):
    if remove_item in lst:
        lst.remove(remove_item)
    else:
        print('해당 데이터는 없는 아이템입니다')

In [ ]:
safe_remove(numbers,9)

In [ ]:
numbers =[0,1,2,3,4,5]
del numbers[2]
print ('삭제 후:',numbers)

In [ ]:
del numbers # 변수삭제

In [ ]:
numbers

## 1.8 정렬하기

In [ ]:
numbers = [9,5,0,8,6]
numbers.sort()# numbers 자체가 정렬한 결과로 바뀜
numbers

In [ ]:
numbers = numbers[::-1]# 오름차순 결과를 내림차순으로
numbers

In [ ]:
numbers.reverse() # 리스트를 역순으로 변경
numbers

## 1.9 리스트 복제

In [ ]:
# 얕은 복사 
numbers = [5,6,1,9]
new_numbers = numbers # 얕은 복사
new_numbers.sort()
print('원본 :',numbers)
print('정렬 :',new_numbers)
print('원본 주소:', id(numbers))
print('정렬본 주소 : ', id(new_numbers))

In [ ]:
# 깊은 복사(복제)
numbers = [5,6,1,9]
new_numbers = numbers.copy() # numbers를 복제(깊은복사)
new_numbers.sort(reverse=True) # 내림차순 정렬
print('numbers :',numbers)
print('new_numbers :', new_numbers)
print('numbers 주소 :', id(numbers))
print('new_numbers 주소', id(new_numbers))

In [ ]:
city=['서울','부산','대전','대구','인천','광주','제주']
temp= city.copy()
temp.sort()
print('정렬전 :', ' '.join(city))
print('정렬후 :', ' '.join(temp))

# 2절. 튜플
- 리스트([])와 유사하지만 읽기전용. 수정이 필요없는 데이터에서 사용
- 수정이 불가하므로 튜플에 데이터 수정, 추가, 삭제 불가
- 제공되는 함수도 많지 않음
- () 이용해서 생성

In [ ]:
city=('서울','부산','인천','목포')
print(type(city))
print(city)

In [ ]:
', '.join(city)

In [ ]:
l=['서울'] # 요소가 하나 있는 리스트
print(type(l))
print(l)
print(len(l))

In [ ]:
city = ('서울') # 요소가 하나있는 튜플(x)
print(type(city))
print(city)
print(len(city))

In [ ]:
city = ('서울',) # 요소가 하나 있는 튜플(o)
print(type(city))
print(city)
print(len(city))

In [ ]:
(a, b) = (10 , 20)

In [ ]:
numbers = 1,2,3 # numbers = (1,2,3)
print(type(numbers))
print(numbers)

In [ ]:
#numbers.remove(3) 수정하기 위한 함수는 제공되지 않음

In [ ]:
min(numbers),max(numbers),len(numbers)

In [ ]:
numbers=(0,1,2,(1,2),0,1,2)
numbers.count(2)

In [ ]:
numbers.index(2) # 2가 있는 곳의 index

In [ ]:
numbers.index(2,3) # 3번째부터 2가 나오는 index

In [ ]:
numbers.index(9)

In [ ]:
# numbers안에 9 요소가 있는 여부
print(numbers.count(9))
print(9 in numbers)

In [ ]:
def safe_index(lst,item):
    if item in lst:
        return lst.index(item)
    else:
        return -1
def safe_index(lst,item):
    return lst.index(item) if item in lst else -1

In [ ]:
safe_index(numbers,9)

In [ ]:
numbers =(1,2,3)
numbers + numbers #연결

In [ ]:
numbers *3 #반복

In [ ]:
# ex. 짝수 요소들을 추출하여 제곱한 리스트를 출력하시오
numbers = (1,2,3,4,5,6)
[x**2 for x in numbers if x%2==0]

# 3절. 딕셔너리
cf. 자바에서의 hashMap
- 중괄호({})를 이용해서 딕셔너리 생성. 키(key)-값(value)쌍으로 구성된 자료구조
- 키는 유일한 값(중복 허용 안함). 키에 list는 사용불가. 키에 tuple은 사용가능
- 값은 중복 가능. 모든 데이터 타입이 가능
- 없는 키의 값을 참조하면 에러발생
- 인덱스를 이용한 참조는 지원 안 함

In [ ]:
dic = {'name':'홍길동',1:22,(1,2):[1,2]}
print(type(dic))
print(dic)

In [ ]:
len(dic) # 데이터 요소의 갯수

In [232]:
my_favorite = {'fruit':'apple','number':12,'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [231]:
my_favorite['fruit']

'mango'

In [ ]:
my_favorite.get('fruit')

In [ ]:
# print(my_favorite['people']) # 키 목록에 없는 데이터를 인덱스로 참조시 에러
print(my_favorite.get('people')) #없는 키를 get함수로 참조시 None리턴

In [230]:
# 딕셔너리 수정
my_favorite = {'fruit':'apple','number':12,'sport':'golf'}
my_favorite['fruit'] = 'mango'
print('fruit 수정 후 :', my_favorite)
my_favorite['people']='홍길동'
print('people 키 추가후 :', my_favorite)
print('데이터 갯수 :' ,len(my_favorite))
# del my_favorite['sport'] # 'sport':'golf' 제거
#del my_favorite['sport'] 
my_favorite.pop('sport')
print('제거 후 :',  my_favorite)

fruit 수정 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}
people 키 추가후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '홍길동'}
데이터 갯수 : 4
제거 후 : {'fruit': 'mango', 'number': 12, 'people': '홍길동'}

In [228]:
my_tuple = ('홍길동',30,'010-9999-9999')

In [229]:
for data in my_tuple :
    print(data, end='\t')
    print()
    for idx in range(len(my_tuple)):
        print("{}번째 :{}\t".format(idx,my_tuple[idx]),end="")
for idx, value in enumerate(my_tuple):
              print('{}번째 : {}'.format(idx,value), end ='\t')

홍길동
0번째 :홍길동	1번째 :30	2번째 :010-9999-9999	30
0번째 :홍길동	1번째 :30	2번째 :010-9999-9999	010-9999-9999
0번째 :홍길동	1번째 :30	2번째 :010-9999-9999	0번째 : 홍길동	1번째 : 30	2번째 : 010-9999-9999

In [ ]:
# for문을 이용한 딕셔너리 출력
my_dic ={'name':'홍길동','age':30,'tel':'010-9999-9999'}

In [ ]:
# 비추
for key in my_dic:
    print("{}:{}".format(key,my_dic[key]), end = '\t')

In [ ]:
# 딕셔너리에서는 enumerate 사용에 의미가 없음
for idx, value in enumerate(my_dic):
    print('{}:{}'.format(idx,value))

In [ ]:
my_dic.keys() # key 목록

In [ ]:
my_dic.values() # 값들의 목록

In [ ]:
my_dic.items()# 키-값의 목록

In [226]:
for value in my_dic.values():
    print(value,end='\t')

홍	33	신림

In [225]:
for key, value in my_dic.items():
    print("{}:{}\t".format(key,value), end='')

name:홍	age:33	address:신림

In [ ]:
# in 연산자
t = (10,20,30)
30 in t

In [ ]:
my_dic ={'name':'홍길동','age':30,'tel':'010-9999-9999'}
'name' in my_dic
# 딕셔너리에서의 in연산자는 키가 있는지 여부 반환

In [ ]:
'홍길동' in my_dic

In [ ]:
# 얕은 복사
my_favorite = {'fruit':'apple','number':12}
new_favorite = my_favorite; # 얕은 복사(할당)
print('my_favorite의 주소 :', id(my_favorite))
print('new_favorite의 주소 :', id(new_favorite))

In [ ]:
new_favorite['fruit'] = '과일은 다좋아 . 하나를 어찌 선택해'
new_favorite['people'] = 'hong'
print('원본 :', my_favorite)
print('수정본 :', new_favorite)

In [ ]:
# 깊은 복사
my_favorite = {'fruit':'apple','number':12}
new_favorite = my_favorite.copy(); # 깊은 복사(복제)
print('my_favorite의 주소 :', id(my_favorite))
print('new_favorite의 주소 :', id(new_favorite))
new_favorite['fruit'] = '과일은 다좋아 . 하나를 어찌 선택해'
new_favorite['people'] = 'hong'
print('원본 :', my_favorite)
print('수정본 :', new_favorite)

# 4절. 셋
- 중복을 허용하지 않는 집합(순서x)
- 중괄호({})나 set() 함수를 이용해서 셋 생성 : set([1,2]), set({'name':'홍길동'})
- 추가 : add(), update()
- 집합연산자 : &-교집합, |-합집합, -차집합, 
- 삭제 : remove()

In [ ]:
fruits = {'banana','orange','apple','apple'}
fruits

In [90]:
s1 = set([1,2,3,4,4,4,4,4,4,4])
s1

{1, 2, 3, 4}

In [ ]:
s2 = set((1,2,3,1))
s2

In [ ]:
# set함수를 이용해서 딕셔너리를 셋으로 전환할때는 key만 적용
s3 = set({'name':'홍','age':33,'add':'서울'})
s3

## 추가하기
- add() : 기본자료형, 튜플 데이터 하나 추가. list, dic, set 유형은 add()함수 사용 불가
- update() :  리스트, 튜플, 딕셔너리, 셋 요소를 하나씩 따로 추가. dic사용시 key만 적용
            cf. list의 extend()

In [ ]:
s2.add(4)
s2.add(5)
s2.add((6,7,8))
s2

In [ ]:
s2.add(0)
s2

In [ ]:
s2={1,2,3}
s2.add(False)
s2

In [ ]:
s2.add(True)
s2

In [ ]:
s2.update((4,5,6))
s2

In [ ]:
s2.update({'name':'hong'})# 딕셔너리는 키만 추가
s2

In [50]:
# 삭제 : remove()
s1 ={1,2,3,4,1,1}
s1

{1, 2, 3, 4}

In [51]:
s1.remove(2)

In [52]:
s1.remove(9)

KeyError: 9

In [54]:
if 9 in s1:
    s1.remove(9)
else:
    print('9가 없습니다')

9가 없습니다

In [56]:
def safe_remove(lst, remove_item): # data : list, set
    if remove_item in lst :
        lst.remove(remove_item)
    else:
        print('해당 데이터는 없는 아이템입니다')

In [57]:
safe_remove(s1,9)

해당 데이터는 없는 아이템입니다

In [58]:
s1

{1, 3, 4}

In [60]:
# 논리값 False는 0으로 삭제할 수 없으며, True는 1로 삭제할 수 있음
# 논리값 0은 False으로 삭제할 수 있으며, 1은 True로 삭제할 수 없음
s1.remove(True)
s1

KeyError: True

## 합집합(|) 교집합(&) 차집합(-)

In [61]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
print('s1 :', s1)
print('s2 :', s2)
print('s1|s2 :', s1|s2) # &,| : 집합연산자, 논리연산자, 비트연산자
print('s1&s2 :', s1&s2)
print('s1-s2 :', s1-s2)

s1 : {1, 2, 3, 4, 5}
s2 : {3, 4, 5, 6, 7}
s1|s2 : {1, 2, 3, 4, 5, 6, 7}
s1&s2 : {3, 4, 5}
s1-s2 : {1, 2}

In [62]:
names={'길자','순자','길동'}
print(names)

{'순자', '길동', '길자'}

In [63]:
for name in names:
    print(name, end='\t')

순자	길동	길자

# 5절 enumerate
- 반복자 또는 순서 객체로 반복문을 처리할 때 사용하는 함수
- 리스트, 튜플, 셋을 for 문에 사용시

In [64]:
list(enumerate(names))

[(0, '순자'), (1, '길동'), (2, '길자')]

In [65]:
for no,name in  enumerate(names):
    print("{}.{}".format(no,name),end='\t')

0.순자	1.길동	2.길자

In [68]:
names =['순자','길동','길자']

for idx,name in enumerate(names):
    print("{}.{}".
          format(idx+1,name))

1.순자
2.길동
3.길자

In [70]:
name= ['순자','길동','길자']
tels= ['010-9999-9999','010-7777-7777','010-6666-6666']
adds=['서울','인천','판교']
for idx in range(len(names)):
    print("{}.{}님의 연락처는{}이고 {} 살아요".format(idx+1,names[idx],tels[idx],adds[idx]))

1.순자님의 연락처는010-9999-9999이고 서울 살아요
2.길동님의 연락처는010-7777-7777이고 인천 살아요
3.길자님의 연락처는010-6666-6666이고 판교 살아요

In [74]:
my_dic={'name':'홍','age':33,'address':'신림'}
for data in my_dic.values(): # value값들만 추출
    print(data)
for key, value in my_dic.items(): # key -value값 추출
    print("{}:{}".format(key,value))

홍
33
신림
name:홍
age:33
address:신림

In [77]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍')), (1, ('age', 33)), (2, ('address', '신림'))]

In [ ]:
for idx, (key,value) in enumerate(my_dic.items()):
    print("{}.{} :{}".format(idx+1, key, value))

## 연습문제(실습형)

다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오
numbers=[1,2,3,4,5,6,7,8,9,10]

In [204]:
numbers=[1,2,3,4,5,6,7,8,9,10]

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [205]:
numbers.append(100)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [206]:
data=[200,300,400,500]
numbers.extend(data)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [207]:
numbers[:5:]

[1, 2, 3, 4, 5]

In [268]:
numbers[1::2]

[1, 3, 5, 7, 9]

In [209]:
numbers[1::2]=[0,0,0,0,0,0,0]
print(numbers)

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0, 100, 0, 300, 0, 500]

In [215]:
print(numbers[::-1])

[500, 0, 300, 0, 100, 0, 9, 0, 7, 0, 5, 0, 3, 0, 1]

In [217]:
member_info = {'name':'홍길동', 'age':20, 'address':'서울시 마포구',
'score':90}

In [219]:
print(member_info.get('address'))

서울시 마포구

In [223]:
print(member_info.get('score'))
member_info.pop('score')

90

90

In [224]:
member_info['address']='서울시 서대문구'

In [234]:
list(member_info.items())

[('name', '홍길동'), ('age', 20), ('address', '서울시 서대문구')]

In [236]:
L1 = ('orange','apple','banana','kiwi')
new_list = [i for i in L1 if len(i)>5]
print(new_list)

['orange', 'banana']

In [238]:
print(list(range(10,0,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [239]:
numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ]
len(numbers_2d[3])

1

In [242]:
numbers = [1,2,3,4,5]
numbers.extend([10,20,30,40,50])
numbers

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [245]:
numbers = list(range(10))
numbers[ : : 2]= [0] * len(numbers[ : : 2])
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [246]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[ : : 2]= numbers[:5]
print(numbers)

[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

In [255]:
my_dic = {'a':10, 'b':20, 'c':30}
my_dic[0]

KeyError: 0

In [262]:
fruits = [ 'apple', 'banana', 'orange']
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
orange

In [266]:
fruits = ['apple','banana','orange']
print(len(fruits))

3

In [ ]:
# def